@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Grafico";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grafico</title>
</head>
<body>

    <iframe style="border: none; width:1100px; height: 550px;" data-widget-name="AdvancedChartWidget" src="https://widget.darqube.com/advanced-chart-widget?token=661070144af90506d51f4e11" id="AdvancedChartWidget-hnmqwjf"></iframe>

    <script src="~/js/script.js"></script>

</body>
</html>