@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a iTech Project</h1>
    <video width="320" height="240" controls>
        <source src="~/Equipo.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <p>Somos un equipo de estudiantes destinados a realizar proyectos de proyectos con fines de poder aprender nuevos conocimientos y obtener experiencia en el mundo de la programcion </p>
</div>
