@{
    ViewData["Title"] = "Integrantes";
}
<h1>@ViewData["Title"]</h1>

<title>Nuestros Integrantes que lo conforman son:</title>
<b>Scrum Master: Jorge Jaime</b>
<p>  </p>
<b>Desarrolladores:</b>
<p>Tobias Carnevale</p>
<p>Sebastian Tripolone</p>
<p>Ariel Menenses</p>
<p>Matias Brizuela</p>
